body{
  font-family: 'Montserrat';
  text-align: center;
}




/* Heading */
.big-heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading{
  font-size: 2.5rem;
  line-height: 1.5;
}

/* container */
.container-fluid{
  padding: 7% 15%;
}

/* section */
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{
  background-color: #fff;
}



h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: 900;
}


/* navigation bar */
.navbar{
  padding-bottom: 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding:0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: 400;
}



/* title */
#title .container-fluid{
  padding: 3% 7% 15%;
  text-align: left;
}

/* buttons */

.download-button{
  margin: 5% 3% 5% 0;
}



/* Title-image */
.dog-image{
  max-width: 60%;
  transform: rotate(25deg);
  position: absolute;
  margin-left: 100px;
}

@media (max-width:1028px) {
  #title {
    text-align: center;
  }
  .dog-image{
    transform: rotate(0deg);
    position: static;
  }

}

/* features */

#features{
     position: relative;
     z-index: 1;
}

.feature-title{
  font-size: 1.5rem;
}

.features-icon{
  font-size:2.5rem;
  color: #ef8172;
  margin-bottom: 1rem;
}

.features-icon:hover{
  color: #ff4c68;
}

.feature-box{
  padding: 5%;
}

.features-description{
  color: #8f8f8f;

}


/* Testimonials */

#testimonials{
   background-color: #ef8172;
}

.testimonial-text{
  font-size: 2.5rem;
  line-height: 1.5;
}

.testimonial-image{
  border-radius: 100%;
  width: 15%;
  margin: 20px;
}

/* Press */
#press{
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}


/* pricing */

#pricing{
   padding: 100px;
}

.price-text{
  font-size: 2.5rem;
  line-height: 1.5;
}

.pricing-column{
  padding: 3%;
}

/* footer */

.footer-image{
  padding: 0px 30px 30px;
}
